.db-cr-board {
  display: flex;
  position: relative;
  padding-top: 80px;

  &__title {
    display: block;
    position: absolute;
    height: 50px;
    top: 30px;
    width: 100%;
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: normal;
  }
}

.table-link {
  text-decoration: none;
  color: $colorBlack;
  width: 180px;
  height: 170px;
  margin: 0 8px;

  &__square {
    border-radius: 5px;
    border: 1px solid $colorLightGrey;
    background-color: $colorWhite;
    width: 180px;
    height: 140px;
    transition: all 0.1s;
    background: url(../assets/plus.png);
    background-size: contain;
  }

  &:hover {
    .table-link__square {
      border: 1px solid $colorGreen;
    }
  }

  &__text {
    padding-top: 13px;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}
