@import '../variables';
@import '../mixins';

.excel-header {
  padding-top: $headerPaddingTop;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  background-color: $colorWhite;
  width: 100%;
  top: 0;
  padding-bottom: $headerPaddingButtom;
}

.h-left-panel {
  padding-left: 25px;
  display: flex;
  height: $headerHeight;

  &__logo {
    width: 40px;
    margin-top: -10px;
    background: url(../assets/logo.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
  }
}

.h-group {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__input {
    height: 26px;
    max-width: 250px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid $colorLightGrey;
    padding-left: 12px;
    outline: none;
    color: $colorGrey;
    transition: all 0.1s;

    &:hover {
      outline: 1px solid $colorGreen;
    }

    &:focus {
      outline: 2px solid $colorGreen;
    }
  }
}

.menubars {
  &__button {
    @include toolbarButton;
    margin-right: 3px;
    padding: 4px 6px;
    font-size: 15px;
  }
}

.h-right-panel {
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $headerHeight;

  &__user-avatar,
  &__share-button,
  &__button {
    cursor: pointer;
    font-size: 14px;
  }

  &__user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    .icon {
      font-size: 55px;
      color: $colorLightGrey;
      opacity: 0.8;
    }
  }

  &__share-button {
    @include rectangleButton;
    display: flex;
    align-items: center;
    margin: 0 20px;

    i {
      margin-right: 8px;
      color: $colorWhite;
    }
  }

  &__button {
    @include circleButton;
    margin-left: 10px;
  }
}
