$colorRed: red;
$colorBlack: rgb(50, 50, 50);
$colorBlack2: rgb(80, 80, 80);
$colorPrimary: rgb(37, 95, 212);
$colorPrimary2: rgba(14, 101, 235, 0.1);
$colorLightBlue: rgba(220, 228, 242, 0.5);
$colorGreen: #188038;
$colorGreen2: #2a8947;
$colorGreen3: #3d9b59;
$colorGreen4: rgb(228, 255, 240);
$colorWhite: white;
$colorWhite2: rgb(238, 238, 238);
$colorLightGrey: rgb(190, 190, 190);
$colorLightGrey2: rgb(241, 241, 241);
$colorLightGrey3: rgb(222, 222, 222);
$colorGrey: grey;

$headerHeight: 60px;
$headerPaddingTop: 20px;
$headerPaddingButtom: 6px;

$toolbarHeight: 36px;
$formulaHeight: 28px;

$rowHeight: 24px;
$cellWidth: 120px;
$infoCellWidth: 55px;
$dbHeaderHeight: 60px;

$minColWidth: 30px;
$minRowHeight: 20px;
