@import '~normalize.css';
@import './fonts.scss';
@import './variables';
@import './mixins';
@import './header.scss';
@import './formula.scss';
@import './toolbar.scss';
@import './table.scss';
@import './dashboard.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $colorBlack;
}

button {
  background-color: $colorWhite;
  border: 1px solid $colorLightGrey;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.excel {
  position: relative;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
}

.error404 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 100px;
}
