@import './variables';
@import './mixins';

.excel-table {
  position: absolute;
  width: 100%;
  top: $headerHeight + $headerPaddingTop + $toolbarHeight + $formulaHeight + $headerPaddingButtom;

  .row-resize,
  .col-resize {
    z-index: 100;
    position: absolute;
    opacity: 0;
    background-color: $colorPrimary;

    &:hover {
      opacity: 1;
    }
  }

  .row-resize::before,
  .col-resize::before {
    content: '';
    position: absolute;
    display: block;
    background-color: $colorPrimary;
  }

  .col-resizing .col-resize,
  .row-resizing .row-resize {
    opacity: 1;
  }

  .row-resizing {
    .row-resize::before {
      left: 0px;
      bottom: 2px;
      width: 100vw;
      height: 1px;
    }
  }

  .col-resizing {
    .col-resize::before {
      top: 0;
      right: 2px;
      width: 1px;
      height: 100vh;
    }
  }

  .row {
    display: flex;
    min-height: $minRowHeight;
    height: $rowHeight;

    &__row-resize {
      width: 100%;
      height: 5px;
      bottom: -3px;
      cursor: row-resize;
    }
  }

  .row__info,
  .data__column {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: $colorLightGrey2;
    border: 1px solid $colorLightGrey;
    align-items: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }

  .row__info {
    min-width: $infoCellWidth;
    height: 100%;
    border-top: none;
  }

  .data {
    display: flex;

    &__column {
      border-top: none;
      border-left: none;
      min-width: minColWidth;
      width: $cellWidth;
    }

    &__cell {
      display: flex;
      align-items: center;
      min-width: $minColWidth;
      width: $cellWidth;
      border: 1px solid $colorLightGrey3;
      border-top: none;
      padding: 4px;
      border-left: none;
      white-space: nowrap;
      outline: none;

      &.selected {
        border: none;
        outline: 2px solid $colorPrimary;
        z-index: 2;
      }

      &.selected-group {
        background-color: $colorPrimary2;
      }
    }

    &__col-resize {
      width: 5px;
      height: 100%;
      right: -3px;
      cursor: col-resize;
    }
  }

  .row__info.selected,
  .data__column.selected {
    background-color: $colorLightGrey3;
  }
}
