@import './variables';
@import './mixins';

.excel-table {
  position: absolute;
  width: 100%;
  top: $headerHeight + $headerPaddingTop + $toolbarHeight + $formulaHeight + $headerPaddingButtom;

  .row-resize,
  .col-resize {
    position: absolute;
    opacity: 0;
    transition: all 0.1s;
    background-color: $colorPrimary;

    &:hover {
      opacity: 1;
    }
  }

  .row {
    display: flex;
    min-height: 20px;
    height: $rowHeight;

    &__row-resize {
      width: 100%;
      height: 5px;
      bottom: 0;
      cursor: row-resize;
    }
  }

  .row__info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $infoCellWidth;
    height: 100%;
    border: 1px solid $colorLightGrey;
    background-color: $colorLightGrey2;
    border-top: none;
  }

  .data {
    display: flex;

    &__column {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: $colorLightGrey2;
      border: 1px solid $colorLightGrey;
      border-top: none;
      border-left: none;
      min-width: 50px;
      width: $cellWidth;
    }

    &__cell {
      display: flex;
      align-items: center;
      min-width: 50px;
      width: $cellWidth;
      border: 1px solid #e2e2e3;
      border-top: none;
      padding: 4px;
      border-left: none;
      white-space: nowrap;
      outline: none;

      &.selected {
        border: none;
        outline: 2px solid $colorPrimary;
        z-index: 2;
      }
    }

    &__col-resize {
      width: 5px;
      height: 100%;
      right: 0;
      cursor: col-resize;
    }
  }
}
