@import './variables';
@import './mixins';

.excel-toolbar {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
  background-color: $colorWhite;
  padding-left: 25px;
  border-top: 1px solid $colorLightGrey;
  border-bottom: 1px solid $colorLightGrey;
  height: $toolbarHeight;
  top: $headerHeight + $headerPaddingTop + $headerPaddingButtom;

  &__button {
    @include toolbarButton;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    color: $colorBlack2;

    i {
      font-size: 22px;
    }

    &:active {
      i {
        color: $colorGreen;
      }
    }
  }

  &__wall {
    margin: auto 10px;
    margin-left: 7px;
    width: 1px;
    height: 20px;
    background-color: $colorLightGrey;
  }
}
